<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a>Content Provider</a>
    </li>
    <li class="breadcrumb-item">
        <a>View Providers</a>
    </li>
</ol>
    
<div class="card mb-3">
<div class="card-header">
    <i class="fa fa-table"></i>&emsp;Content Providers' List</div>
<div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
        <thead> 
        <tr>
            <th>#</th>
            <th>Content Authorizer Identification No</th>
            <th>Content Authorizer Name</th>
            <th>Institutes Represented</th>
            <th>Sub areas specified</th>
            <th>Content Authorizer registration form</th>
            <th>Status</th>
            <th>Enable/ Disable</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>#</th>
            <th>Content Authorizer Identification No</th>
            <th>Content Authorizer Name</th>
            <th>Institutes Represented</th>
            <th>Sub areas specified</th>
            <th>Content Authorizer registration form</th>
            <th>Status</th>
            <th>Enable/ Disable</th>
        </tr>
        </tfoot>
        <tbody>
        <tr>
            <td>1</td>
            <td>Cp-00001</td>
            <td>Deshan Hasantha</td>
            <td>NSBM</td>
            <td>Management</td>
            <td align="center"><a href="">View</a></td>
            <td>Approved (10) REjected (5)</td>
            <td><button type="button">Enable</button><button type="button">Disable</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Cp-00002</td>
            <td>Deshan Hasantha</td>
            <td>NSBM</td>
            <td>Management</td>
            <td align="center"><a href="">View</a></td>
            <td>Approved (10) REjected (5)</td>
            <td><button type="button">Enable</button><button type="button">Disable</button></td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>